<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">


    <!-- Bootstrap-->
    <title>{% block title %}MyBlog{% endblock %}</title>

    <style>
        body { background-color: #f8f9fa; }
        .navbar-brand { font-weight: bold; font-size: 1.5rem; }
        .card { border: none; box-shadow: 0 2px 8px rgba(0,0,0,0.08); }
        footer { margin-top: 60px; padding: 20px 0; background: #343a40; color: #adb5bd; }
    </style>
</head>
<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">

            <a class="navbar-brand" href="{% url 'home' %}">MyBlog</a>

            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
                <a class="nav-link" href="{% url 'create_post' %}">New Post</a>
                <a class="nav-link" href="{% url 'create_author' %}">New Author</a>
                <a class="nav-link" href="{% url 'create_category' %}">New Category</a>
                <a class="nav-link" href="{% url 'search_posts' %}"> Search</a> 
            </div>
        </div>
    </nav>

    <!-- MAIN CONTENT -->
    <div class="container mt-4">


        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endfor %}
        {% endif %}


        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <div class="container text-center">
            <p>MyBlog — Built with Django 🐍</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>